*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
}

body{
    background-color: #000;

}

::-webkit-scrollbar{
    width: 12px;
    /* background-color: #000; */
}

::-webkit-scrollbar-thumb{
background: linear-gradient(transparent, #30ff00);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #0000ff);
    }